[Desktop Entry]
Name=Light'N'Dark
GenericName=Display adjustment
Comment=Monitors your ambient light sensor and adapts your display and keyboard accordingly.
Exec=lightndark-gui
Icon=lightndark
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
